language: node_js
node_js:
  - 12

install:
  - npm install

before_script:
- node --version
- npm --version
- node_modules/.bin/newman --version

script:

- newman run APIs_Automatizacion/API_Blacklist.postman_collection.json
